<div class="side-menu">
    <div class="menu-header text-center"><h1>Cloud Storage</h1></div>

    <div class="elements">
        <div class="element-menu own-border">
            <a href="/user/files"><img src="/image/folder.png"/>Files</a>
        </div>
        <div class="element-menu own-border">
            <a href="/user/device"><img src="/image/computer.png"/>Computer Management</a>
        </div>
        <div class="element-menu own-border">
            <a href="/user/profile"><img src="/image/profile.png"/>Profile</a>
        </div>
        <div class="element-menu own-border">
            <a href="/user/statistics"><img src="/image/chart.png"/>Statistics</a>
        </div>
        <div class="element-menu own-border">
            <a href="/logout"><img src="/image/logout.png"/>Logout</a>
        </div>
    </div>
</div>

