@media only screen and (max-width: 990px) {
    .side-viewer {
        width: 100%;
    }
    .side-menu {
        width: 100%;
        height: 500px;
        border-right: none;
    }
    .menu-header {
        height: 100px;
    }
    .main-viewer {
        width: 100%;
    }
    .menu-header.text-center h1 {
        width: 100%;
        margin: auto;
        vertical-align: middle;
        padding-top: 3%;
        font-size: 10rem;
        text-align: center;
    }
    .elements {
        width: 100%;
        margin: auto;
        vertical-align: middle;
    }
    .element-menu {
        padding-top: 0%;
    }
    .element-menu a {
        line-height: 80px;
    }

    .colourel {
        border-top: 2px solid white;
        height: 900px;
    }

    .colourelTwo {
        height: 800px;
    }

    .review-block {
        width: 100%;
        border-top: 2px solid white;
    }


}



@media only screen and (max-width: 800px) {
    .colourel {
            border-top: 2px solid white;
            padding-top: 10%;
        }
}

@media only screen and (max-width: 700px) {
    .colourel {
            border-top: 2px solid white;
            padding-top: 15%;
        }
}


@media only screen and (max-width: 1600px) {
    .menu-header.text-center h1 {
        font-size: 2rem;
    }


@media only screen and (max-width: 1400px) {
    .menu-header.text-center h1 {
        font-size: 1.5rem;
    }
}