@media only screen and (max-width: 600px) {
    .side-viewer {
        width:100%;
    }

    .side-menu {
        width:100%;
        height: 500px;
    }

    .menu-header {
        height: 50px;
    }

    .main-viewer {
        width:100%;
    }
}