body {
    background: #091124;
    margin: 0;
    padding: 0;
}

.flexy-container {
    width: 100%;
}

.main-viewer {
    width: 80%;
    float: left;
}

.side-viewer {
    width: 50%;
    float: left;
}

table {
    width: 100%;
    background: white;
}

.topper{
    width:100%;
    height:68px;
    background: #091124;
}

tr {
    width: 100%;
}

tr a {
    cursor: pointer;
}

.whiter {
    background:white;
    height: 550px;
}