<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lost in space...</title>
    <link rel="icon" href="/image/icon.png">
    <style>
        @media only screen and (max-width: 1020px) {
            img {
                width: 90%;
            }
        }
    </style>
</head>

<body>

<div style="text-align:center;">
    <img src="/image/error404.jpg" alt="404 error">
    <p>We will get you back in <span class="time">3</span></p>
</div>

<script>
    let seconds = 3;

    const timer = setInterval(() => {
        seconds -= 1;
        document.querySelector('.time').textContent = seconds;

        if (seconds === 0) {
            clearInterval(timer);
            document.location.href = "/home";
        }
    }, 1000);
</script>
</body>

</html>