<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/image/icon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round">
    <link rel="stylesheet" href="/css/user-menu.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <title>Cloud Service</title>
</head>
<body>


<div class="flexy-container">


    <div th:replace="/usermenu/sidebar"></div>

    <div class="main-viewer">

        <div class="topper">
            <form>
            <button type="submit" class="create-dir"><img src="https://img.icons8.com/cute-clipart/64/000000/add-folder.png"></button>
            </form>
        </div>

        <!--        Left side content     -->

        <div class="side-viewer whiter">
            <table>
                <tbody class="render-files">

                </tbody>
            </table>
        </div>

        <!--        Right side content     -->

        <div class="side-viewer">
            <form action="/user/storage/upload" method="POST" enctype="multipart/form-data">
                <input type="file" name="files" multiple>
                <button type="submit" class="upload-click">Upload File</button>
            </form>
        </div>

    </div>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/uploader-storage.js"></script>
</body>
</html>