<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Statistics</title>
    <link rel="icon" href="/image/icon.png">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/stats.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>

 <div th:replace="usermenu/sidebar"></div>
    <div class="review-block">
        <div class="top-review">

        </div>
        <div class="bottom-review">
            <img class="drives" src="/image/disk-drive500.png" alt="disk image">
            <img class="drives" src="/image/disk-drive500.png" alt="disk image">
            <img class="drives" src="/image/disk-drive500.png" alt="disk image">

        </div>
    </div>
</body>
</html>