<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cloud Storage Service</title>
    <link rel="icon" href="/image/icon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home-style.css">
</head>
<body>

    <div class="main-content">

        <div class="top-menu">
            <a href="#">About</a>
            <a href="#">Home</a>
         </div>

        <div class="front-logo">
            <img src="/image/front-icon.png" alt="database-icon">
                <h1>Cloud Storage Service</h1>
                    <h2>High Security Data</h2>
                     <h3>1 GB Cloud Disk</h3>
         </div>

        <div class="auth-buttons">
            <a href="/sign-in" class="btn btn-block  btn-outline-light btn-lg">Sign in</a>
            <a href="/sign-up" class="btn btn-block  btn-primary btn-lg">Sign up</a>
         </div>

    </div>


</body>
</html>